:root {
    --majority : #8BB0F0;
    --button: #363753;
    --fond-superposition : rgba(28, 29, 30, 0.2);
}

body {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    background: url(../images/home_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-brand:hover {
    color: #fff;
}

.customised-navbar {
    background-color: var(--majority);
    padding-right: 5%;
    height: 50px;
    display: flex;
    flex-direction: row;
}

.customised-navbar div span {
    color: #fff;
    font-family: "Jacques Francois";
    font-weight: 550;
    margin-left: 20px;
}

.customised-navbar ul li {
    margin-right: 50px;
}

.customised-navbar ul li a {
    color: #fff;
    font-weight: bold;
}

.nav-link:hover {
    color: #fff;
}

#welcome-message {
   background-color: var(--fond-superposition);
   width: 35%;
   border-radius: 40px;
   display: block;
   text-align: center;
   padding-bottom: 10px;
   padding-top: 10px;
   position: absolute;
   top: 55%;
   left: 10%;
}

#welcome-message h2 {
    color: #fff;
}

#welcome-message p {
    font-family: "kiwi Maru";
    color: #fff;
}

#welcome-message button {
    border: none;
    border-radius: 30px;
    width: 35%;
    background-color: var(--button);
    padding: 10px 15px;
}

#welcome-message button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

#welcome-message button:hover a {
    letter-spacing: 1px;
    transition: ease-in-out 0.5s;
}

#form {
    background-color: var(--fond-superposition);
    width: 35%;
    margin: 8% auto;
    border-radius: 20px;
    text-align: center;
    padding-top: 10px;
}

#form h3 {
    color: #fff;
    margin-bottom: 40px;
}

#form div input {
    width: 80%;
    border: none;
    margin-bottom: 50px;
    padding: 7px 10px;
    border-radius: 10px;
}

#form p a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

#form div input[type="submit"] {
    width: 40%;
    background-color: var(--button);
    color: #fff;
    font-weight: 500;
    border-radius: 20px;
}