body {
    background-image: url(/images/home_background.jpg);
    background-size: 100%;
    position: relative;
}

header{
    background-color: #8BB0F0;
    justify-content: space-between;
    color: white;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 10px;

   
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    
}

a:hover {
    text-decoration: underline;
    color: aqua;

}



.form {
    background-color: hsla(0, 2%, 100%, 0.55874);
    width: 25%;
    border-radius: 20px;
    text-align: center;
    color: black;
    position: absolute;
    left: 38.5%;
    top: 600%;
}

input,button {
    border-radius: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 300px;

}

button {
    width: 200px;
    background-color: #363753;
    color: #ffffff;
}