
.prof-list {
    
    padding: 5%;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-section-abstract);
    color: var(--text-color);
    transform: translateY(50px);


}

hr {

    background-color: white;
    height: 5px;
    border-radius: 10px;
}

.tri-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#tri {
    width: 25%;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.tri-list input {
    border-radius: 10px;

    border: none;
    height: 50px;
    width: 10%;
    text-align: center;
}


.prof-table {
    width: 100%;
    text-align: center;
   

}


.heads th{

    padding: 10px;
   
    background-color: var(--navbar-color);
    

}

.heads tr th:first-child {
    border-radius: 10px 0 0 0;
}

.heads tr th:last-child {
    border-radius: 0 10px 0 0;
}



td {
    background-color: white;
    color: black;
    padding: 5px;
    border: solid 1px var(--bg-section-abstract);
}
.btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
 .btn1,.btn2{
    color: var(--text-color);
    border-radius: 12px;
    padding: 10px;
    background-color: var(--navbar-color);
    border: none;
}
.btn2{
    margin-left: 12px;
    font-weight: 700;
    background-color: red;
}
.btn-ajout{
    float: right;;
    margin: 20px 0;
}