.dashboard-messagerie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    color: var(--text-color);
    padding-top: 2%;
    
}
.messagerie-intro{
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px 2px 20px; 
}
.new-msg-btn{
    display: flex;
    align-items: right;
    justify-content: right;
    margin-top: 5px;
    margin-bottom: 15px;
}
.new-msg-btn button{
    border-radius: 15px;
    background-color: var(--bg-btn);
    color:var(--text-color);
    padding: 5px 8px;
    font-style: sans-serif;
    border: none;
    cursor: pointer;
    justify-content: center;
}
.msg-table {
    width: 100%;
    border-collapse: collapse;
}

.msg-table td {
    padding: 20px;
}

.msg-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.msg-text {
    text-align: left;
}

.msg-btn {
    border: none;
    background-color: transparent;
    color: var(--text-color);
    cursor: pointer;
    padding: 5px 10px;
}

.msg-table tr{
    border-bottom: 2px solid var(--text-color);
}
.date-input{
    display: flex;
    align-items: right;
    justify-content: right;
    margin-top: 5px;
    margin-bottom: 15px;
}
.date-input input[type="date"]{
    border: none;
    border-radius: 15px;
    padding: 8px;
}
.absence-table{
    display: flex;
    justify-content: space-between;
}
.absence-table tr{
    justify-content: space-between;
    
    border-bottom: 2px solid var(--text-color);
    padding: 25px;

}
.absence-table td{
    padding: 20px;
}
.absence-table th{
    justify-content: space-between;
    padding: 20px;
    width: 300px;
}

.absence-table button{
    border: none;
    border-radius: 15px;
    padding: 8px;
}


.new-msg-form{
    display: none;
    padding: 10px;
    align-items: center;
    justify-content: center;

}

.new-msg{

    display: none;
    flex-direction: column;
    background-color: rgba(10, 9, 9, 0.443); 
    border-radius: 15px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
    

}

.new-msg label{
    align-items: left;
}

.new-msg input,textarea{
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 8px;
    width: 300px;
    border: 2px solid;
    color: white;
    background-color: rgba(0, 0, 0, 0.112);
}

.new-msg input[type="submit"]{
    width: 75px;
    padding: 3px;
    color: whitesmoke;
    background-color: var(--bg-btn);
    border: none;
}
.new-msg input[type="submit"]:hover{
    border: 2px white;
}