#liste {
    display: flex;
    flex-direction: column;
    margin: 10px 10% 15px 10%;
    padding: 5%;
    background-color: #1D1C1E90;
    color: var(--text-color);
    border-radius: 25px;
}
#liste h1{
    margin: 0;
}

.justificatifs {
    
    
    width: 100%;
    
  
}
#tables{
    border-collapse: collapse;
    width: 100%;
}
