#liste {
    display: flex;
    flex-direction: column;
    margin: 10px 10% 15px 10%;
    padding: 5%;
    background-color: #1D1C1E90;
    color: var(--text-color);
    border-radius: 25px;
}
#liste h1{
    margin: 0;
}

.justificatifs {
    
    
    width: 100%;
    
  
}
#tables{
    border-collapse: collapse;
    width: 100%;
}

 /*table tr td{
    border-bottom: solid 1px white;
    text-align: center;
    font-size: medium;
    padding-bottom: 25px;
    padding-top: 20px;
 }
/*table tr th {
    border-bottom: solid 1px white;
    text-align: center;
    
    font-size: large;
    padding-bottom: 25px;
    padding-top: 20px;
}
/*table tr td button{
    border-radius: 15px;
    border: none;
    width: 100%;
    padding: 10px;
    a {
        text-decoration: none;
        color: #000;
    }
}*/